body {
  background-color: black;
}

.App {
  background-color: whitesmoke;
  /* height: 95vh; */
  text-align: center;
}

.title {
  background-color: black;
  color: white;
  padding-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

.cipher-title {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.ciphers {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.cipher {
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  padding: 3px;
  width: 100px;
}

.selected {
  background-color: black;
  color: white;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 50px;
}

.translate-form {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 13px;
}

.translate-form label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea {
  width: 300px;
}

.btn-form {
  border-radius: 6px;
  font-size: 15.5px;
  font-weight: 550;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.25s;
  margin-top: 15px;
  padding: 8px;
  width: 250px;
}

.btn-form:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .translate-form {
    flex-direction: column;
    align-items: center;
  }
}
